
### Python ###

# Byte-compiled / optimized / DLL files

__pycache__/
*.py[cod]
*$py.class

# virtualenv
.venv/
venv/
ENV/

*.pyc
*.json
data.py
config.py
firebase.json
addsake.json
japanstate.py
usertype.py


fi
.DS_Store

/logs
/uploads
/project1_env