{% extends "layout.html" %} {% block body %}


<h1>Sake List</h1>

  
  <div class="container">
      <div class="row">
          {% for doc in docs %}
          <div class="col-sm-4">
           <a href="sake/{{ doc.id }}">
           <h4>{{ doc.to_dict().name }}</h4>
           </a>
           <a href="sake/{{ doc.id }}">
            <img
              src="{{ doc.to_dict().image_url }}"
              width="200"
              height="200"
              style="object-fit:contain;"
            /></a></br></br><strong>Type </strong>&nbsp;{{ doc.to_dict().type }} 
            <br>     
            <strong> Produced In </strong>&nbsp;{{ doc.to_dict().region }}
            <br>
            <strong>Produced By </strong>&nbsp;{{ doc.to_dict().maker }} 
            <br>
            <a href="{{ doc.to_dict().url }}"> >> Go to website </a>
    </div>
    {% endfor %}
   </div>
  </div>

 

{% endblock %}

