{% extends "layout.html" %} {% block body %}
<div class="jumbotron text-center">
  <h1>{{ doc.to_dict().name }}</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <strong>Type </strong>&nbsp;{{ doc.to_dict().type }} <br />
      <strong> Produced In </strong>&nbsp;{{ doc.to_dict().region }} <br />
      <strong>Produced By </strong>&nbsp;{{ doc.to_dict().maker }} <br />

      <a href="{{ doc.to_dict().url }}"> >> Go to website </a>
    </div>
    <div class="col-sm-4">
      <img
        src="{{ doc.to_dict().image_url }}"
        alt="{{ doc.to_dict().name }}"
        width="200"
        height="200"
        style="object-fit:contain;"
      />
    </div>
  </div>
</div>

{% endblock %}
