{% extends "layout.html" %} {% block body %}
<div class="jumbotron text-center">
  <h1>{{ name }}</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <strong>Type </strong>&nbsp;{{ type }} <br />
      <strong> Produced In </strong>&nbsp;{{ region }} <br />
      <strong>Produced By </strong>&nbsp;{{ maker }} <br />

      <a href="{{ url }}"> >> Go to website </a>
    </div>
    <div class="col-sm-4">
      <img
        src="{{url_for('static', filename='image/'+image) }}"
        alt="{{ image }}"
        width="200"
        height="200"
        style="object-fit:contain;"
      />
    </div>
  </div>
</div>

{% endblock %}
