<html>
  <head>
     <title>Signup Form</title>

     <link
     rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
   />
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">


  </head>
  <body>
     <div class="container"><br>

       <center>
          <h2>Sign Up</h2>
       </center>
     </div>
     <div class=container"><br>
     <div class="row align-items-center justify-content-center">
     <div class="col-md-4">

     <form  action="" method="post" role="form">
      {{ form.csrf }}
      <div class="form-group">
        <label for="firstname">First Name:</label>
        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Firstname?">
          <br>
        <label for="lastname">Last Name:</label>
        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Lastname?">
          <br>
          <label for="usertype">User Type:</label>
          <div class="form-group">
            {{ form.usertype(class="form-control") }}
          </div>
          <br />
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Your email address.">
          <br>
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password.">
        <br>
      </div>
        <br>													   
      <center>
        <button action="/signup" type="submit" class="btn btn-success">Submit</button>
      </center>
    </form>
    <br>
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
      {% for message in messages %}
          {% if "Error" not in message[1]: %}
              <div class="alert alert-info">
              <strong>Success! </strong> {{ message[1] }}
              </div>
          {% endif %}
          {% if "Error" in message[1]: %}
              <div class="alert alert-danger">
              <strong>Error: </strong> {{ message[1] }}
              </div>
          {% endif %}
      {% endfor %}
          {% endif %}
      {% endwith %}
    </div>
    <br>
    </div>
    </div>
  </body>
</html>